<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [1]:
# url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

In [119]:
import pandas as pd

df = pd.read_csv(url)
df.columns = headers

#ë¬¸ì œ1 - ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°! 
#ì˜ì—… ì´ìµì´ë€? : í•´ë‹¹ íšŒì‚¬ì˜ ë³¸ì—…ì—ì„œ ì–¼ë§ˆë‚˜ ê¾¸ì¤€í•˜ê²Œ ì„±ê³¼ê°€ ë‚˜ì˜¤ê³  ìˆëŠ”ì§€ë¥¼ í™•ì¸í•´ë³¼ ìˆ˜ ìˆëŠ” ì§€í‘œ 
#ì˜ì—… ì´ìµë¥ ì´ë€? : ì„±ê³¼ë¥¼ í™•ì¸í•  ìˆ˜ ìˆëŠ” ë§ˆì§„ìœ¨
#ê³„ì‚°: ì˜ì—…ì´ìµ = ë§¤ì¶œì•¡ - ë§¤ì¶œì›ê°€ - ì˜ì—…ë¹„ìš©
#ê³„ì‚°: ì˜ì—…ì´ìµë¥  = ì˜ì—…ì´ìµ / ë§¤ì¶œì•¡ * 100 

#1ë‹¨ê³„: ì˜ì—…ì´ìµê³¼ ë§¤ì¶œì•¡ì˜ íƒ€ì… í™•ì¸
# df.info() 

#[object -> int] í•¨ìˆ˜
def to_Int(x):
  return int(x.replace(',',''))

#2ë‹¨ê³„: ì˜ì—…ì´ìµê³¼ ë§¤ì¶œì•¡ íƒ€ì… intí˜•ìœ¼ë¡œ ë³€í™˜
df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(to_Int)
df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ'].apply(to_Int)

#3ë‹¨ê³„: ê³„ì‚°! 
df['ì˜ì—…ì´ìµë¥ 2'] = (df['ì˜ì—…ì´ìµ'] / df['ë§¤ì¶œì•¡']) * 100

#ê³„ì‚° ê²°ê³¼ ì†Œìˆ˜ì ì´ ë¬´ìë¹„í•˜ê²Œ ë§ì´ ë‚˜ì˜¤ëŠ” ê²ƒì„ í™•ì¸! -> round methodë¥¼ í™œìš©í•´ ì†Œìˆ˜ì  2ì§¸ìë¦¬ë¡œ ë³€ê²½í•´ì¤Œ. ì•„ë˜ëŠ” ì˜ˆì‹œ
# df_aì˜ ëª¨ë“  ìˆ«ìë“¤ì„ ì†Œìˆ˜ì  2ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼í•˜ê¸°
# df_a.round(2)
# df_aì˜ Aì»¬ëŸ¼ì€ ì†Œìˆ˜ì  1ìë¦¬ê¹Œì§€, Cì»¬ëŸ¼ì€ ì†Œìˆ˜ì  2ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼í•˜ê¸°
# df_a.round({'A': 1, 'C': 2})

# df.round({'ì˜ì—…ì´ìµë¥ 2': 2})

df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13222  3825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11982  2523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11784  3150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13188  3947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

In [154]:
#ë¬¸ì œ 2 - ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio(PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”!
#ì°¸ê³ ) ì‹œì¥ ê·œëª¨ëŠ” 18,19ë…„ë„ ëª¨ë‘ 15ì¡°, ì ìœ ìœ¨ì€ 18ë…„ë„ 62%, 19ë…„ë„ 63.5%ë¡œ ê³„ì‚°

#1ë‹¨ê³„ : ì»¬ëŸ¼ ì´ë¦„ì„ ì§€ì •í•´ì„œ ë°ì´í„° í”„ë ˆì„ ìƒì„±! ì•„ë˜ ì½”ë“œëŠ” ì˜ˆì‹œ
#calendar = pd.DataFrame({"year": [y], "week": [w], "start_date": [sd], "end_date": [ed]})
df2 = pd.DataFrame({'êµ¬ë¶„': ['18ë…„','19ë…„'], 'ì¢…ê°€': [101500,93800], 'ë°œí–‰ì£¼ì‹ìˆ˜': [137292497,137292497], 'ì‹œê°€ì´ì•¡': [13935188445500,12878036218600], 'ì‹œì¥ì ìœ ìœ¨': [62.0,63.5]})

#2ë‹¨ê³„ : ê³„ì‚°, PDR = ê¸°ì—…ê°€ì¹˜((ì‹œê°€ì´ì•¡)) / (TAM(ì‹œì¥ ê·œëª¨) * ì‹œì¥ì ìœ ìœ¨)
df2['ì‹œì¥ê·œëª¨'] = [15000000000000,15000000000000]	
df2['PDR'] = (df2['ì‹œê°€ì´ì•¡'] / (df2['ì‹œì¥ê·œëª¨'] * (df2['ì‹œì¥ì ìœ ìœ¨'] / 100))) * 100

df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨            ì‹œì¥ê·œëª¨         PDR
0  18ë…„  101500  137292497  13935188445500   62.0  15000000000000  149.840736
1  19ë…„   93800  137292497  12878036218600   63.5  15000000000000  135.202480

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [115]:
df = pd.read_csv(url)
df.columns = headers
def new_to_int(x):
  index = x.find(',')
  return int(x[:index] + x[index+1:])

#19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ë§Œ ë°”ê¿€ ê²½ìš°
df[df['ë¶„ê¸°'] == '19/6']['ë§¤ì¶œì•¡'].apply(new_to_int)

#ë°ì´í„° ì…‹ì˜ ëª¨ë“  ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ë³€ê²½
df['ë§¤ì¶œì•¡']  = df['ë§¤ì¶œì•¡'].apply(new_to_int)
df

      ë¶„ê¸°    ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [123]:
#ì „ì²´ featureì—ì„œ ìë³¸ì´ê³„(ë¹„ì§€ë°°)ì— 2ê°œì˜ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆì—ˆë‹¤. 
df.isnull().sum()
#ê²°ì¸¡ì¹˜ -> 0 
df = df.fillna(0)

#ë¶„ê¸° ì œì™¸í•œ ëª¨ë“  featureë¥¼ ìˆ˜ì¹˜í˜• ë°ì´í„°ë¡œ ìˆ˜ì •!
import numpy

for column in df.columns[1:]:
  if type(df[column][0]) == numpy.int64 or type(df[column][0]) == numpy.float64: 
    #type(df[column][0]) ëŒ€ì‹ ì— df[column].dtypeë¡œ ëŒ€ì²´í•´ì„œ ìœ„ì˜ ì½”ë“œë¥¼ ë°”ê¿” ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.
    continue
  else: 
    df[column] = df[column].apply(to_Int)

#describeë¥¼ í†µí•´ summary statistics í™•ì¸! 
df.describe

<bound method NDFrame.describe of       ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730005
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929058
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.056585
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731161
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.928723

[5 rows x 26 columns]>

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [124]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1) #ë°ì´í„°í”„ë ˆì„ì˜ ëª¨ë“  featureì˜ typeì¤‘ objectí˜•ì¸ ê²ƒì€ ì „ì²´ ì¤‘ì— í•˜ë‚˜ë¼ëŠ” ê²ƒì„ í™•ì¸í•˜ëŠ” ì½”ë“œ.
  return(score)

In [125]:
grade(df,df2)

5

In [112]:
#ë§Œì•½, ë°ì´í„°ì˜ íƒ€ì…ì´ objectì¼ ë•Œ! ì´ ì˜¤ë¸Œì íŠ¸ íƒ€ì…ì„ 'O'ë¡œ ì¤„ì—¬ í‘œí˜„í•  ìˆ˜ ìˆë‹¤. íŒŒì´ì¬ì—ì„œ!! ëŒ€ë¬¸ì o~ 
df['ë¶„ê¸°'].dtypes == 'O' #output: True
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [126]:
from numpy import nan as NAN
#ì•„ë˜ ì½”ë“œ ì‚¬ìš©í•˜ë©´ ë°œìƒí•˜ëŠ” warnings -> Try using .loc[row_indexer,col_indexer] = value instead
# df[df['ë¶„ê¸°'] == '19/12']['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = NAN

#ê²°ì¸¡ê°’ ëŒ€ì²´ : ê²°ì¸¡ê°’ì´ ì¡´ì¬í•  ë•Œ, ê²°ì¸¡ê°’ì„ ë²„ë¦¬ê³  ê´€ì¸¡ê°’ë§Œ ë¶„ì„í•˜ê²Œ ë˜ë©´ ì¼ë°˜ì ìœ¼ë¡œ í†µê³„ì  í¸í–¥ì´ ìƒê¸´ë‹¤. ê·¸ë˜ì„œ ê²°ì¸¡ê°’ì„ ì¶”ì •í•œ ëŒ€ì²´ê°’ì„ ë„£ì–´ì„œ ê²°ì¸¡ê°’ ëŒ€ì²´ê°€ í•„ìš”í•˜ë‹¤.
#ë°©ë²• single imputation & multiple imputation
#ê´€ë ¨ ë¸”ë¡œê·¸ : https://m.blog.naver.com/hancury/220396495672
df.loc[2,'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = NAN
#ê²°ì¸¡ì¹˜ë¥¼ í•´ë‹¹ ì»¬ëŸ¼ì˜ ë‹¤ë¥¸ ê°’ë“¤ì˜ í‰ê· ìœ¼ë¡œ ëŒ€ì²´!
df.loc[df.loc[:,'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].isnull(),'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = df.loc[:,'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].mean()

df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730005
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929058
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.056585
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731161
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.928723

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [152]:
#20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” Relative Performance
def relative_performance(x):
  if x >= 10:
    return 'S'
  elif x >= 5:
    return 'A'
  elif x < 5 and x > -5:
    return 'B'
  elif x <= -5 and x >= -10:
    return 'C'
  else:
    return 'D'

for index in range(len(df)):
  value = 0
  length = 4 
  if index == 0:
    value = round((df.loc[index,'ë§¤ì¶œì•¡'] - df.loc[index+1:,'ë§¤ì¶œì•¡'].mean()) / df.loc[index+1:,'ë§¤ì¶œì•¡'].mean(),2) * 100
    df.loc[index,'Relative Performance'] = relative_performance(value)
  elif index == 4:
    value = round((df.loc[index,'ë§¤ì¶œì•¡'] - df.loc[:index-1,'ë§¤ì¶œì•¡'].mean()) / df.loc[:index-1,'ë§¤ì¶œì•¡'].mean(),2) * 100  
    df.loc[index,'Relative Performance'] = relative_performance(value)
  else:
    value = round((df.loc[index,'ë§¤ì¶œì•¡'] - ((df.loc[:index-1,'ë§¤ì¶œì•¡'].sum() + df.loc[index+1:,'ë§¤ì¶œì•¡'].sum())/length)) / ((df.loc[:index-1,'ë§¤ì¶œì•¡'].sum() + df.loc[index+1:,'ë§¤ì¶œì•¡'].sum())/length),2) * 100
    df.loc[index,'Relative Performance'] = relative_performance(value)
  
#ì—´ ì‚­ì œ í™•ì¸ì„ ìœ„í•´ ì¶”ê°€í•œ ì½”ë“œ
df.loc[4,'Relative Feature'] = relative_performance(x)

df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ...     ì˜ì—…ì´ìµë¥ 2  Relative Performance  Relative Feature
0   19/6  12578  3991  ...  31.730005                     B               NaN
1   19/9  13222  3825  ...  28.929058                     A               NaN
2  19/12  11982  2523  ...  21.056585                     C               NaN
3   20/3  11784  3150  ...  26.731161                     C               NaN
4   20/6  13188  3947  ...  29.928723                     A                 A

[5 rows x 28 columns]

In [153]:
#[ì—´ ì‚­ì œí•˜ëŠ” ë²•]
df.drop(['Relative Feature'],axis = 1) # í•´ë‹¹ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ë©´ ì‚­ì œí•˜ê³  ì‹¶ì€ ì—´ì„ ì‚­ì œí•˜ê³  ê²°ê³¼ë¥¼ ì¶œë ¥í•´ì¤€ë‹¤.

#ìœ„ì˜ ì½”ë“œì™€ ê°™ì€ ê¸°ëŠ¥ ë‹¤ë¥¸ ì½”ë“œ 
# df.drop(['Relative Feature'],axis = 1, inplace = True) #í•´ë‹¹ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ë©´ ì‚­ì œí•˜ê³  ì‹¶ì€ ì—´ì„ ì‚­ì œë§Œ í•˜ê³  ì¶œë ¥ì€ í•˜ì§€ ì•ŠëŠ”ë‹¤. 
# df = df.drop(['Relative Feature'],axis = 'columns') #í•´ë‹¹ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ê³  ì‚­ì œì‹œí‚¨ dataframeì„ ë°˜í™˜ë§Œ í• ë¿ ì‹¤ì œë¡œ ì ìš©ë˜ì§€ ì•ŠëŠ”ë‹¤. ë”°ë¼ì„œ ì™¼ìª½ê³¼ ê°™ì€ 'df = ' ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ì„ ìˆ˜ë™ìœ¼ë¡œ ìˆ˜ì •í•´ì¤˜ì•¼ í•œë‹¤.

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ...  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2  Relative Performance
0   19/6  12578  3991  ...   13.77  31.730005                     B
1   19/9  13222  3825  ...   13.87  28.929058                     A
2  19/12  11982  2523  ...   12.42  21.056585                     C
3   20/3  11784  3150  ...    9.71  26.731161                     C
4   20/6  13188  3947  ...   10.46  29.928723                     A

[5 rows x 27 columns]