<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# ğŸ“ Assignment

## 1. Dataset ë¶ˆëŸ¬ì˜¤ê¸°
> seaborn ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ load_dataset()ì„ í™œìš©í•´ì„œ iris ë°ì´í„°ì…‹ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. ë°ì´í„°í”„ë ˆì„ì˜ ì´ë¦„ì€ df_irisë¡œ í•©ë‹ˆë‹¤. <br>
> df_irisì˜ shapeì˜ **ì²«ë²ˆì§¸ ê°’ì„ ë‘ë²ˆì§¸ ê°’ìœ¼ë¡œ ë‚˜ëˆˆ ê°’**ì„ `res1`ì— ì €ì¥í•˜ì„¸ìš”

In [1]:
import seaborn as sns
import numpy as np
np.random.seed(42)

# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•©ë‹ˆë‹¤.
df_iris = sns.load_dataset('iris')
res1 = df_iris.shape[0]/df_iris.shape[1]

## 2. X êµ¬í•˜ê¸°
> df_irisì—ì„œ sepal_lengthë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”. ê·¸ë¦¬ê³  sepal_length ì¹¼ëŸ¼ì˜ ì´ë¦„ì€ xë¡œ ë°”ê¿‰ë‹ˆë‹¤

In [2]:
# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•©ë‹ˆë‹¤.
df_iris = df_iris.drop(df_iris.loc[:,'sepal_width':],axis = 1)
df_iris.columns = ['x']

## 3. ê¸°ì´ˆ ë¯¸ë¶„

ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•œ ë„í•¨ìˆ˜ë¥¼ êµ¬í•œ í›„ì— num_one í•¨ìˆ˜ë¥¼ ì™„ì„±í•˜ì„¸ìš”. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one í•¨ìˆ˜ë¥¼ xì— ì ìš©í•œ í›„ì— **derivative_one**ì´ë¼ëŠ” ì¹¼ëŸ¼ìœ¼ë¡œ df_irisì— ì €ì¥í•©ë‹ˆë‹¤. (Hint : df.apply)
- derivative_one ì¹¼ëŸ¼ì˜ í•©ì„ `res2`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [3]:
# from math import exp
from numpy import exp

def num_one(x):
    return 20*(x**4) + 27*(x**2) + 2*exp(1)*x # ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•´ì£¼ì‹œê¸° ë°”ëë‹ˆë‹¤.


df_iris['derivative_one'] = df_iris.apply(num_one)
df_iris

       x  derivative_one
0    5.1    14260.398475
1    4.9    12204.511162
2    4.7    10381.343849
3    4.6     9551.240193
4    5.0    13202.182818
..   ...             ...
145  6.7    41550.696977
146  6.3    32611.802351
147  6.5    36877.337664
148  6.2    30624.258695
149  5.9    25206.667726

[150 rows x 2 columns]

In [4]:
res2 = round(df_iris['derivative_one'].sum(),3)

- ì´ë²ˆì—ëŠ” scipyì˜ [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)ë¥¼ í™œìš©í•˜ì—¬ **derivative_two** ì¹¼ëŸ¼ìœ¼ë¡œ ì €ì¥í•˜ì„¸ìš”.
  - dxëŠ” 1e-7ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- derivative_two ì¹¼ëŸ¼ì˜ í•©ì„ `res3`ì— ì €ì¥í•©ë‹ˆë‹¤ (ì†Œìˆ˜ì  ì„¸ìë¦¬ê¹Œì§€)

In [6]:
from scipy.misc import derivative

def f(x):
    return 4*(x**5) + 9*(x**3) + exp(1)*(x**2) - 7

# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•´ì£¼ì‹œê¸° ë°”ëë‹ˆë‹¤
dx = 1e-7
df_iris['derivative_two'] = derivative(f,df_iris['x'],dx)
res3 = round(df_iris['derivative_two'].sum(),3)
df_iris

       x  derivative_one  derivative_two
0    5.1    14260.398475    14260.398502
1    4.9    12204.511162    12204.511186
2    4.7    10381.343849    10381.343873
3    4.6     9551.240193     9551.240219
4    5.0    13202.182818    13202.182863
..   ...             ...             ...
145  6.7    41550.696977    41550.697097
146  6.3    32611.802351    32611.802490
147  6.5    36877.337664    36877.337734
148  6.2    30624.258695    30624.258798
149  5.9    25206.667726    25206.667779

[150 rows x 3 columns]

## 4. ë¯¸ë¶„ ì—°ìŠµ
>ì•„ë˜ì˜ í•¨ìˆ˜ë“¤ì„ ë¯¸ë¶„í•œ í›„ì— **x = 5**ì¼ ë•Œì˜ ê²°ê³¼ê°’ì„ `res4`, `res5`, `res6`, `res7`ì— ì €ì¥í•˜ì„¸ìš”.

 $f(x) = e^x$

In [7]:
def e_prime(x):
    return exp(1)**x  
res4 = e_prime(5)

$f(x) = lnx$

In [8]:
def ln_prime(x):
    return x**(-1)  
res5 = ln_prime(5)

$f(x) = Sin(2x)$

In [9]:
from math import sin,cos

def sine_prime(x):
    return 2*cos(2*x)  

res6 = sine_prime(5)

$f(x) = (2x^2 + 8x)^2$

In [10]:
def f_prime(x):
    return 2*(2*(x**2)+8*x)*(4*x+8)

res7 = f_prime(5)

## 3. í¸ë¯¸ë¶„

ì£¼ì–´ì§„ `machine learning model`ì˜ `error function` ($\varepsilon$)ì´ ë‹¤ìŒê³¼ ê°™ì„ ë•Œ `error function`ì„ **ìµœì†Œí™”** í•˜ëŠ” ìµœì ì˜ `parameter`ë“¤ì„  êµ¬í•˜ì„¸ìš”. ê·¸ í›„ ê²°ê³¼ë¥¼ ê°ê° `p1`, `p2`ì— ì €ì¥í•˜ì„¸ìš”.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- ë‹¨ ìµœì ì˜ $p_1$ì€ $p_2$ê°€ $3$ì¼ë•Œ, ìµœì ì˜ $p_2$ëŠ” $p_1$ì´ $10$ì¼ë•Œë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ë‹ˆë‹¤.

In [20]:
from sympy import solve,Symbol

p1_v = Symbol('p1')
p2_v = Symbol('p2')

variable_p1 = ('p1',3) #ìµœì ì˜ p1, p2 == 3
variable_p2 = ('p2',10) #ìµœì ì˜ p2, p1 == 10

#ìµœì ì˜ p1ì€ p1ì„ ê¸°ì¤€ìœ¼ë¡œ í•˜ê³  í¸ë¯¸ë¶„! 
#2*(exp(1)*p1-p2)*exp(1)

#ìµœì ì˜ p2ëŠ” p2ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•˜ê³  í¸ë¯¸ë¶„!
#2*(exp(1)*p1-p2)*(-1) + 50

def epsilon_prime(x):
  if x[0] == 'p1':
    return 2*(exp(1)*p1_v-x[1])*exp(1)
  else:
    return 2*(exp(1)*x[1]-p2_v)*(-1) + 50

p1_equation,p2_equation = epsilon_prime(variable_p1),epsilon_prime(variable_p2)
p1,p2 = solve(p1_equation)[0],solve(p2_equation)[0] #solve((p1_equation,p2_equation),dict=True) -> outputì€ ë¦¬ìŠ¤íŠ¸ì˜ í˜•íƒœì´ì§€ë§Œ ë¦¬ìŠ¤íŠ¸ ì•ˆì— ì‚¬ì „ì˜ í˜•íƒœë¡œ ë“¤ì–´ìˆë‹¤. ìœ„ì—ì„œ ì„¤ì •í•œ symbolì´ í‚¤ê°’ìœ¼ë¡œ ë“¤ì–´ê°„ë‹¤.

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [31]:
def grade(res1, res2, res3, res4, res5,res6,res7, p1, p2):
    score = 0

    score += (res1 == 30.0)
    score += (res2 == 4077643.108)
    score += (res3 == 4077643.121)
    score += (round(res4, 3) == 148.413)
    score += (round(res5, 1) == 0.2)
    score += (round(res6, 3) == -1.678)
    score += (res7 == 5040)
    
    score += (p1 == 3/exp(1))
    score += (p2 == 10*exp(1)-25)
  
    return(score)

In [52]:
grade(res1,res2,res3,res4,res5,res6,res7,p1,p2)

8

In [41]:
p1 == 3/exp(1) #output: False
#p1 : 1.10363832351433
#3/exp(1) : 1.103638323514327
#solveí•¨ìˆ˜ë¥¼ ì‚¬ìš©í–ˆê³  ì†Œìˆ˜ì  ë§ˆì§€ë§‰ì— ë°˜ì˜¬ë¦¼ìœ¼ë¡œ ì¸í•´ ê²°ê³¼ê°€ ë‹¤ë¥¸ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

False

## ğŸ”¥ ë„ì „ê³¼ì œ

### ë‹¤ìŒ í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•˜ì„¸ìš”. ì´í›„ì— x = 3ì¼ ë•Œì˜ ê²°ê³¼ë¥¼ `challenge`ì— ì €ì¥í•˜ì„¸ìš”.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [53]:
def sigmoid_function(x):
  return (1+(exp(1)**(-x)))**(-1)

def sig_prime(x):
    return sigmoid_function(x)*(sigmoid_function(x)+1)

challenge = sig_prime(3)

#lnì„ ì‚¬ìš©í•´ì„œ sigmoid í•¨ìˆ˜ë¥¼ ë¯¸ë¶„í•´ë³´ì!