<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# 📝 Assignment

## 1. Dataset 불러오기
> seaborn 라이브러리의 load_dataset()을 활용해서 iris 데이터셋을 데이터프레임으로 불러옵니다. 데이터프레임의 이름은 df_iris로 합니다. <br>
> df_iris의 shape의 **첫번째 값을 두번째 값으로 나눈 값**을 `res1`에 저장하세요

In [1]:
import seaborn as sns
import numpy as np
np.random.seed(42)

# 이곳에 답안을 작성합니다.
df_iris = sns.load_dataset('iris')
res1 = df_iris.shape[0]/df_iris.shape[1]

## 2. X 구하기
> df_iris에서 sepal_length만 남겨주세요. 그리고 sepal_length 칼럼의 이름은 x로 바꿉니다

In [2]:
# 이곳에 답안을 작성합니다.
df_iris = df_iris.drop(df_iris.loc[:,'sepal_width':],axis = 1)
df_iris.columns = ['x']

## 3. 기초 미분

다음 함수를 미분한 도함수를 구한 후에 num_one 함수를 완성하세요. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one 함수를 x에 적용한 후에 **derivative_one**이라는 칼럼으로 df_iris에 저장합니다. (Hint : df.apply)
- derivative_one 칼럼의 합을 `res2`에 저장합니다 (소수점 세자리까지)

In [3]:
# from math import exp
from numpy import exp

def num_one(x):
    return 20*(x**4) + 27*(x**2) + 2*exp(1)*x # 이곳에 답안을 작성해주시기 바랍니다.


df_iris['derivative_one'] = df_iris.apply(num_one)
df_iris

       x  derivative_one
0    5.1    14260.398475
1    4.9    12204.511162
2    4.7    10381.343849
3    4.6     9551.240193
4    5.0    13202.182818
..   ...             ...
145  6.7    41550.696977
146  6.3    32611.802351
147  6.5    36877.337664
148  6.2    30624.258695
149  5.9    25206.667726

[150 rows x 2 columns]

In [4]:
res2 = round(df_iris['derivative_one'].sum(),3)

- 이번에는 scipy의 [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)를 활용하여 **derivative_two** 칼럼으로 저장하세요.
  - dx는 1e-7로 설정합니다.
- derivative_two 칼럼의 합을 `res3`에 저장합니다 (소수점 세자리까지)

In [6]:
from scipy.misc import derivative

def f(x):
    return 4*(x**5) + 9*(x**3) + exp(1)*(x**2) - 7

# 이곳에 답안을 작성해주시기 바랍니다
dx = 1e-7
df_iris['derivative_two'] = derivative(f,df_iris['x'],dx)
res3 = round(df_iris['derivative_two'].sum(),3)
df_iris

       x  derivative_one  derivative_two
0    5.1    14260.398475    14260.398502
1    4.9    12204.511162    12204.511186
2    4.7    10381.343849    10381.343873
3    4.6     9551.240193     9551.240219
4    5.0    13202.182818    13202.182863
..   ...             ...             ...
145  6.7    41550.696977    41550.697097
146  6.3    32611.802351    32611.802490
147  6.5    36877.337664    36877.337734
148  6.2    30624.258695    30624.258798
149  5.9    25206.667726    25206.667779

[150 rows x 3 columns]

## 4. 미분 연습
>아래의 함수들을 미분한 후에 **x = 5**일 때의 결과값을 `res4`, `res5`, `res6`, `res7`에 저장하세요.

 $f(x) = e^x$

In [7]:
def e_prime(x):
    return exp(1)**x  
res4 = e_prime(5)

$f(x) = lnx$

In [8]:
def ln_prime(x):
    return x**(-1)  
res5 = ln_prime(5)

$f(x) = Sin(2x)$

In [9]:
from math import sin,cos

def sine_prime(x):
    return 2*cos(2*x)  

res6 = sine_prime(5)

$f(x) = (2x^2 + 8x)^2$

In [10]:
def f_prime(x):
    return 2*(2*(x**2)+8*x)*(4*x+8)

res7 = f_prime(5)

## 3. 편미분

주어진 `machine learning model`의 `error function` ($\varepsilon$)이 다음과 같을 때 `error function`을 **최소화** 하는 최적의 `parameter`들을  구하세요. 그 후 결과를 각각 `p1`, `p2`에 저장하세요.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- 단 최적의 $p_1$은 $p_2$가 $3$일때, 최적의 $p_2$는 $p_1$이 $10$일때를 기준으로 합니다.

In [20]:
from sympy import solve,Symbol

p1_v = Symbol('p1')
p2_v = Symbol('p2')

variable_p1 = ('p1',3) #최적의 p1, p2 == 3
variable_p2 = ('p2',10) #최적의 p2, p1 == 10

#최적의 p1은 p1을 기준으로 하고 편미분! 
#2*(exp(1)*p1-p2)*exp(1)

#최적의 p2는 p2를 기준으로 하고 편미분!
#2*(exp(1)*p1-p2)*(-1) + 50

def epsilon_prime(x):
  if x[0] == 'p1':
    return 2*(exp(1)*p1_v-x[1])*exp(1)
  else:
    return 2*(exp(1)*x[1]-p2_v)*(-1) + 50

p1_equation,p2_equation = epsilon_prime(variable_p1),epsilon_prime(variable_p2)
p1,p2 = solve(p1_equation)[0],solve(p2_equation)[0] #solve((p1_equation,p2_equation),dict=True) -> output은 리스트의 형태이지만 리스트 안에 사전의 형태로 들어있다. 위에서 설정한 symbol이 키값으로 들어간다.

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [31]:
def grade(res1, res2, res3, res4, res5,res6,res7, p1, p2):
    score = 0

    score += (res1 == 30.0)
    score += (res2 == 4077643.108)
    score += (res3 == 4077643.121)
    score += (round(res4, 3) == 148.413)
    score += (round(res5, 1) == 0.2)
    score += (round(res6, 3) == -1.678)
    score += (res7 == 5040)
    
    score += (p1 == 3/exp(1))
    score += (p2 == 10*exp(1)-25)
  
    return(score)

In [52]:
grade(res1,res2,res3,res4,res5,res6,res7,p1,p2)

8

In [41]:
p1 == 3/exp(1) #output: False
#p1 : 1.10363832351433
#3/exp(1) : 1.103638323514327
#solve함수를 사용했고 소수점 마지막에 반올림으로 인해 결과가 다른 것을 확인할 수 있다.

False

## 🔥 도전과제

### 다음 함수를 미분하세요. 이후에 x = 3일 때의 결과를 `challenge`에 저장하세요.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [53]:
def sigmoid_function(x):
  return (1+(exp(1)**(-x)))**(-1)

def sig_prime(x):
    return sigmoid_function(x)*(sigmoid_function(x)+1)

challenge = sig_prime(3)

#ln을 사용해서 sigmoid 함수를 미분해보자!