<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---

# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

## Data description
There are 3 types of input features:

##### Objective: factual information;
#####Examination: results of medical examination;
#####Subjective: information given by the patient.

>Features:
1. Age | Objective Feature | age | int (days)
2. Height | Objective Feature | height | int (cm) |
3. Weight | Objective Feature | weight | float (kg) |
4. Gender | Objective Feature | gender | categorical code |
5. Systolic blood pressure | Examination Feature | ap_hi | int |
6. Diastolic blood pressure | Examination Feature | ap_lo | int |
7. Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
8. Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
9. Smoking | Subjective Feature | smoke | binary |
10. Alcohol intake | Subjective Feature | alco | binary |
11. Physical activity | Subjective Feature | active | binary |
12. Presence or absence of cardiovascular disease | Target Variable | cardio | binary |

cardiovascular disease : Ïã¨Ïû•Í≥º Ï£ºÏöî ÎèôÎß•Ïóê Î∞úÏÉùÌïòÎäî ÏßàÌôò

**All of the dataset values were collected at the moment of medical examination.**

In [70]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [71]:
df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [72]:
## missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
# dtype & Í≤∞Ï∏°Í∞í ÌôïÏù∏ 
df.info()  # Í≤∞Ï∏°Í∞í x

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [73]:
# id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
df.drop('id',axis=1,inplace=True)
df.head()

     age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0  18393       2     168    62.0    110  ...     1      0     0       1       0
1  20228       1     156    85.0    140  ...     1      0     0       1       1
2  18857       1     165    64.0    130  ...     1      0     0       0       1
3  17623       2     169    82.0    150  ...     1      0     0       1       1
4  17474       1     156    56.0    100  ...     1      0     0       0       0

[5 rows x 12 columns]

In [74]:
import numpy as np

# Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
df.duplicated().value_counts() # FalseÏùò Í∞úÏàòÍ∞Ä Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÎÇ¥Ïóê Ïú†ÎãàÌÅ¨Ìïú Í∞íÏùò Í∞úÏàò

duple = df.duplicated()
duple_index = np.where(duple==True)

duple_index

(array([10562, 21784, 38505, 40365, 42450, 44653, 45125, 45748, 45810,
        48917, 50432, 52552, 56643, 56906, 57946, 58730, 60453, 60474,
        62318, 64169, 65079, 65622, 66190, 68281]),)

In [75]:
# Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.
df.drop_duplicates(keep = 'first', inplace = True)

df.duplicated().value_counts()

False    69976
dtype: int64

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- ÌõàÎ†®Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20, random_state=2)
- **Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [76]:
from sklearn.model_selection import train_test_split

# target 
target = 'cardio'

# train & validation dataset
train,test = train_test_split(df, test_size = 0.2,random_state = 2)
print(f'train shape: {train.shape}, test shape: {test.shape}')
train,val = train_test_split(train,train_size = 0.8, random_state = 2)
print(f'train shape: {train.shape}, val shape: {val.shape}')

## X, y 
# train
y_train = train[target]
X_train = train.drop(target,axis=1)

# val
y_val = val[target]
X_val = val.drop(target,axis=1)

# test
y_test = test[target]
X_test = test.drop(target,axis=1)

# Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.
X_val.shape

train shape: (55980, 12), test shape: (13996, 12)
train shape: (44784, 12), val shape: (11196, 12)

(11196, 11)

### 3) ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò LogisticRegressionÏùÑ ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **LogisticRegression Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥†(max_iter=1000) Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [77]:
### Î∂ÑÎ•òÎ¨∏Ï†úÏóêÏÑúÎäî Î≥¥ÌÜµ ÌÉÄÍ≤ü Î≥ÄÏàòÏóêÏÑú Í∞ÄÏû• ÎπàÎ≤àÌïòÍ≤å ÎÇòÌÉÄÎÇòÎäî Î≤îÏ£ºÎ•º Í∏∞Ï§ÄÎ™®Îç∏Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
## Í∏∞Ï§ÄÎ™®Îç∏ 
y_train.value_counts(normalize=True)

1    0.501697
0    0.498303
Name: cardio, dtype: float64

In [78]:
# Î≤îÏ£º 1Î°ú Î™®Îì† ÏòàÏ∏° ÏàòÌñâ
major = y_train.mode()[0] # mode(): (series,dataframe) Ìï¥Îãπ Í∞íÎÇ¥Ïóê ÏµúÎπàÍ∞í Î∞òÌôò 

# Í∏∞Ï§ÄÎ™®Îç∏Î°ú ÏòàÏ∏°
y_pred = [major] * len(y_train)

from sklearn.metrics import accuracy_score

# ÏµúÎã§ ÌÅ¥ÎûòÏä§Ïùò ÎπàÎèÑÍ∞Ä Ï†ïÌôïÎèÑÏôÄ ÏùºÏπòÌï®ÏùÑ ÌôïÏù∏
print("train data accuracy: ", accuracy_score(y_train, y_pred))

# Í≤ÄÏ¶ù ÏÑ∏Ìä∏ÏóêÏÑú Ï†ïÌôïÎèÑ ÌôïÏù∏
y_pred = [major] * len(y_val)
print("val data accuracy: ", accuracy_score(y_val, y_pred))

train data accuracy:  0.501697034655234
val data accuracy:  0.49821364773133264

In [79]:
### Logistic Regression 
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

model = LogisticRegression(max_iter=1000)
model.fit(X_train,y_train)

# Í≤ÄÏ¶ù ÏÑ∏Ìä∏ÏóêÏÑú Ï†ïÌôïÎèÑ ÌôïÏù∏
y_pred = model.predict(X_val)
print(f'Í≤ÄÏ¶ù ÏÑ∏Ìä∏ÏóêÏÑú Ï†ïÌôïÎèÑ: {accuracy_score(y_val,y_pred)}')

Í≤ÄÏ¶ù ÏÑ∏Ìä∏ÏóêÏÑú Ï†ïÌôïÎèÑ: 0.7073061807788495

### 4) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- category_encodersÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 'gender' ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- LogisticRegression Î™®Îç∏ÏùÑ Îã§Ïãú ÌïôÏäµÌï©ÎãàÎã§.
- **Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [80]:
pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)

In [81]:
from category_encoders import OneHotEncoder

encoder = OneHotEncoder(use_cat_names=True, cols = 'gender') # genderÎßå one hot encodingÌïòÎùºÍ≥† ÏßÄÏ†ï Í∞ÄÎä•

X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

logistic =  LogisticRegression(max_iter=1000)
logistic.fit(X_train_encoded,y_train)

y_pred = logistic.predict(X_val_encoded)
print(f'Í≤ÄÏ¶ù ÏÑ∏Ìä∏ÏóêÏÑú Ï†ïÌôïÎèÑ: {accuracy_score(y_val,y_pred)}')

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Í≤ÄÏ¶ù ÏÑ∏Ìä∏ÏóêÏÑú Ï†ïÌôïÎèÑ: 0.7093604858878171

### 5) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.(0.712 Ïù¥ÏÉÅ)**

In [82]:
## 1. parameter C Î•º Î∞îÍøîÏÑú Ïó¨Îü¨ Í∞ÄÏßÄ Î™®Îç∏ ÏÉùÏÑ± 
logistic_001 = LogisticRegression(C=0.001, max_iter = 1000).fit(X_train_encoded,y_train) # C -> Í∞íÏù¥ ÏûëÏùÑ ÏàòÎ°ù Îçî Í∞ïÌïú Ï†ïÍ∑úÌôîÍ∞Ä ÏùºÏñ¥ÎÇúÎã§.
logistic_01 = LogisticRegression(C=0.01, max_iter = 1000).fit(X_train_encoded,y_train) # max_iter -> ÏµúÎåÄ Î∞òÎ≥µ ÌöüÏàò
logistic_0 = LogisticRegression(C=0.1, max_iter = 1000).fit(X_train_encoded,y_train)
logistic = LogisticRegression(max_iter = 1000).fit(X_train_encoded,y_train) # C default = 1.0
logistic_1 = LogisticRegression(  C= 10.0, max_iter = 1000).fit(X_train_encoded,y_train)
logistic_10 = LogisticRegression(C= 100.0, max_iter = 1000).fit(X_train_encoded,y_train)
logistic_100 = LogisticRegression(C= 1000.0, max_iter = 1000).fit(X_train_encoded,y_train)

# Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞Î°ú Ï†ïÌôïÎèÑ ÌôïÏù∏
print(f'C = 0.001 Accuracy: {logistic_001.score(X_val_encoded,y_val)}')
print(f'C = 0.01 Accuracy: {logistic_01.score(X_val_encoded,y_val)}')
print(f'C = 0.1 Accuracy: {logistic_0.score(X_val_encoded,y_val)}')
print(f'C = 1.0 Accuracy: {logistic.score(X_val_encoded,y_val)}')
print(f'C = 10.0 Accuracy: {logistic_1.score(X_val_encoded,y_val)}')
print(f'C = 100.0 Accuracy: {logistic_10.score(X_val_encoded,y_val)}')
print(f'C = 1000.0 Accuracy: {logistic_100.score(X_val_encoded,y_val)}')

C = 0.001 Accuracy: 0.6941764916041443
C = 0.01 Accuracy: 0.6942658092175777
C = 0.1 Accuracy: 0.7092711682743837
C = 1.0 Accuracy: 0.7093604858878171
C = 10.0 Accuracy: 0.7093604858878171
C = 100.0 Accuracy: 0.7093604858878171
C = 1000.0 Accuracy: 0.6942658092175777

In [83]:
## 2. C ÌååÎùºÎØ∏ÌÑ∞ + Îç∞Ïù¥ÌÑ∞ ÌëúÏ§ÄÌôî
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_val_scaled = scaler.transform(X_val_encoded)

logistic_001 = LogisticRegression(C=0.001, max_iter = 1000).fit(X_train_scaled,y_train) # C -> Í∞íÏù¥ ÏûëÏùÑ ÏàòÎ°ù Îçî Í∞ïÌïú Ï†ïÍ∑úÌôîÍ∞Ä ÏùºÏñ¥ÎÇúÎã§.
logistic_01 = LogisticRegression(C=0.01, max_iter = 1000).fit(X_train_scaled,y_train) # max_iter -> ÏµúÎåÄ Î∞òÎ≥µ ÌöüÏàò
logistic_0 = LogisticRegression(C=0.1, max_iter = 1000).fit(X_train_scaled,y_train)
logistic = LogisticRegression(max_iter = 1000).fit(X_train_scaled,y_train) # C default = 1.0
logistic_1 = LogisticRegression(  C= 10.0, max_iter = 1000).fit(X_train_scaled,y_train)
logistic_10 = LogisticRegression(C= 100.0, max_iter = 1000).fit(X_train_scaled,y_train)
logistic_100 = LogisticRegression(C= 1000.0, max_iter = 1000).fit(X_train_scaled,y_train)

# Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞Î°ú Ï†ïÌôïÎèÑ ÌôïÏù∏
print(f'C = 0.001 Accuracy: {logistic_001.score(X_val_scaled,y_val)}')
print(f'C = 0.01 Accuracy: {logistic_01.score(X_val_scaled,y_val)}')
print(f'C = 0.1 Accuracy: {logistic_0.score(X_val_scaled,y_val)}')
print(f'C = 1.0 Accuracy: {logistic.score(X_val_scaled,y_val)}')
print(f'C = 10.0 Accuracy: {logistic_1.score(X_val_scaled,y_val)}')
print(f'C = 100.0 Accuracy: {logistic_10.score(X_val_scaled,y_val)}')
print(f'C = 1000.0 Accuracy: {logistic_100.score(X_val_scaled,y_val)}')

C = 0.001 Accuracy: 0.6685423365487674
C = 0.01 Accuracy: 0.7057877813504824
C = 0.1 Accuracy: 0.721686316541622
C = 1.0 Accuracy: 0.723383351196856
C = 10.0 Accuracy: 0.7237406216505895
C = 100.0 Accuracy: 0.7237406216505895
C = 1000.0 Accuracy: 0.7237406216505895

In [69]:
from sklearn.metrics import accuracy_score

## Îç∞Ïù¥ÌÑ∞Î•º ÌëúÏ§ÄÌôîÏãúÌÇ§Í≥† LogisticRegressionÏùò parameter C=10.0ÏùºÎïåÏùò Î™®Îç∏Ïù¥ ÏµúÏ†ÅÌôîÎêòÏóàÎã§Í≥† Î≥º Ïàò ÏûàÎã§. 

## test data one hot encoding
X_test_encoded = encoder.transform(X_test)

## Standardization 
X_test_scaled = scaler.transform(X_test_encoded)

## accuracy score 
# y_pred = logistic_10.predict(X_test_scaled)
#accuracy_score(y_pred,y_test)
print(logistic_10.score(X_test_scaled,y_test))

0.7268505287224921

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú:

### 6) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† Í∞ÄÎä•Ìïú Î∞©Î≤ïÏúºÎ°ú Î™®Îç∏ÏùÑ ÌäúÎãùÌï¥ÏÑú Í≤∞Í≥ºÎ•º ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî. ÏµúÏÜåÌïú Îã§Ïùå ÎÇ¥Ïö©Îì§Ïù¥ Ìè¨Ìï®Ïù¥ ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§.
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏµúÏÜåÌïú Ìïú Í∞ú Ïù¥ÏÉÅ ÎßåÎìúÏÑ∏Ïöî.
- ÌäπÏÑ±Îì§ÏùÑ ÌôïÏù∏Ìï¥ÏÑú ÏïÑÏõÉÎùºÏù¥Ïñ¥ÎùºÍ≥† ÏÉùÍ∞ÅÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÑ ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. (Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÎ•º Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©Ìï¥Ïïº ÌïòÎäîÏßÄ ÏïåÏïÑÎ≥¥Í≥† ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.)
- ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ ÏÑ±Îä•ÏùÑ Î¶¨Ìè¨ÌåÖÌïòÍ≥† Ìï¥ÏÑùÌï©ÎãàÎã§.

In [ ]:
# BMI ÏßÄÏàò ÏÉùÏÑ± : Ï≤¥Ï§ë(kg)/Ïã†Ïû•(m)^2
import numpy as np

df['BMI'] = df.weight / np.power(df.height/100,2)
df.head()