<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# ğŸ“ Assignment
---

# Logistic Regression

ì´ë²ˆì—ëŠ” [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•´ ë´…ì‹œë‹¤. ë°ì´í„°ì— ëŒ€í•œ ì„¤ëª…ì„ ìºê¸€ í˜ì´ì§€ì—ì„œ ì˜ ì‚´í´ë³´ì‹œê³  ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš”!

### 1) ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬ í•˜ê² ìŠµë‹ˆë‹¤.
- ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.(read_csv ì‚¬ìš©)
- id ì¹¼ëŸ¼ì€ dropí•˜ì„¸ìš”.
- missing valueë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ì¤‘ë³µëœ ìƒ˜í”Œì´ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
- **ì¤‘ë³µëœ ìƒ˜í”Œì„ ì œê±°í•˜ê³  ë‚¨ì€ ìƒ˜í”Œì˜ ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

## Data description
There are 3 types of input features:

##### Objective: factual information;
#####Examination: results of medical examination;
#####Subjective: information given by the patient.

>Features:
1. Age | Objective Feature | age | int (days)
2. Height | Objective Feature | height | int (cm) |
3. Weight | Objective Feature | weight | float (kg) |
4. Gender | Objective Feature | gender | categorical code |
5. Systolic blood pressure | Examination Feature | ap_hi | int |
6. Diastolic blood pressure | Examination Feature | ap_lo | int |
7. Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
8. Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
9. Smoking | Subjective Feature | smoke | binary |
10. Alcohol intake | Subjective Feature | alco | binary |
11. Physical activity | Subjective Feature | active | binary |
12. Presence or absence of cardiovascular disease | Target Variable | cardio | binary |

cardiovascular disease : ì‹¬ì¥ê³¼ ì£¼ìš” ë™ë§¥ì— ë°œìƒí•˜ëŠ” ì§ˆí™˜

**All of the dataset values were collected at the moment of medical examination.**

In [70]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [71]:
df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [72]:
## missing valueë¥¼ í™•ì¸í•˜ì„¸ìš”.
# dtype & ê²°ì¸¡ê°’ í™•ì¸ 
df.info()  # ê²°ì¸¡ê°’ x

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [73]:
# id ì¹¼ëŸ¼ì€ dropí•˜ì„¸ìš”.
df.drop('id',axis=1,inplace=True)
df.head()

     age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0  18393       2     168    62.0    110  ...     1      0     0       1       0
1  20228       1     156    85.0    140  ...     1      0     0       1       1
2  18857       1     165    64.0    130  ...     1      0     0       0       1
3  17623       2     169    82.0    150  ...     1      0     0       1       1
4  17474       1     156    56.0    100  ...     1      0     0       0       0

[5 rows x 12 columns]

In [74]:
import numpy as np

# ì¤‘ë³µëœ ìƒ˜í”Œì´ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
df.duplicated().value_counts() # Falseì˜ ê°œìˆ˜ê°€ ë°ì´í„°í”„ë ˆì„ ë‚´ì— ìœ ë‹ˆí¬í•œ ê°’ì˜ ê°œìˆ˜

duple = df.duplicated()
duple_index = np.where(duple==True)

duple_index

(array([10562, 21784, 38505, 40365, 42450, 44653, 45125, 45748, 45810,
        48917, 50432, 52552, 56643, 56906, 57946, 58730, 60453, 60474,
        62318, 64169, 65079, 65622, 66190, 68281]),)

In [75]:
# ì¤‘ë³µëœ ìƒ˜í”Œì„ ì œê±°í•˜ê³  ë‚¨ì€ ìƒ˜í”Œì˜ ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.
df.drop_duplicates(keep = 'first', inplace = True)

df.duplicated().value_counts()

False    69976
dtype: int64

### 2) ë‹¤ìš´ë¡œë“œ í•œ í›ˆë ¨ ë°ì´í„°ë¥¼ í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”.
- íƒ€ê²Ÿ íŠ¹ì„±ì„ í™•ì¸í•˜ê³  íƒ€ê²Ÿ ë³€ìˆ˜ë¥¼ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤.
- í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤(train_test_split ì‚¬ìš©, train/test = 80/20, random_state=2)
- í›ˆë ¨ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ ê²€ì¦ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤(train_test_split ì‚¬ìš©, train/validation = 80/20, random_state=2)
- **ê²€ì¦ ë°ì´í„°(X_val)ì˜ ê°¯ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [76]:
from sklearn.model_selection import train_test_split

# target 
target = 'cardio'

# train & validation dataset
train,test = train_test_split(df, test_size = 0.2,random_state = 2)
print(f'train shape: {train.shape}, test shape: {test.shape}')
train,val = train_test_split(train,train_size = 0.8, random_state = 2)
print(f'train shape: {train.shape}, val shape: {val.shape}')

## X, y 
# train
y_train = train[target]
X_train = train.drop(target,axis=1)

# val
y_val = val[target]
X_val = val.drop(target,axis=1)

# test
y_test = test[target]
X_test = test.drop(target,axis=1)

# ê²€ì¦ ë°ì´í„°(X_val)ì˜ ê°¯ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.
X_val.shape

train shape: (55980, 12), test shape: (13996, 12)
train shape: (44784, 12), val shape: (11196, 12)

(11196, 11)

### 3) ì‚¬ì´í‚·ëŸ°ì˜ LogisticRegressionì„ ì‚¬ìš©í•´ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- ëª¨ë¸ì„ ë§Œë“¤ê¸° ì „ì— ê¸°ì¤€ëª¨ë¸ì„ ì„¤ì •í•©ë‹ˆë‹¤.
- **LogisticRegression ëª¨ë¸ì„ í•™ìŠµí•˜ê³ (max_iter=1000) ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [77]:
### ë¶„ë¥˜ë¬¸ì œì—ì„œëŠ” ë³´í†µ íƒ€ê²Ÿ ë³€ìˆ˜ì—ì„œ ê°€ì¥ ë¹ˆë²ˆí•˜ê²Œ ë‚˜íƒ€ë‚˜ëŠ” ë²”ì£¼ë¥¼ ê¸°ì¤€ëª¨ë¸ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
## ê¸°ì¤€ëª¨ë¸ 
y_train.value_counts(normalize=True)

1    0.501697
0    0.498303
Name: cardio, dtype: float64

In [78]:
# ë²”ì£¼ 1ë¡œ ëª¨ë“  ì˜ˆì¸¡ ìˆ˜í–‰
major = y_train.mode()[0] # mode(): (series,dataframe) í•´ë‹¹ ê°’ë‚´ì— ìµœë¹ˆê°’ ë°˜í™˜ 

# ê¸°ì¤€ëª¨ë¸ë¡œ ì˜ˆì¸¡
y_pred = [major] * len(y_train)

from sklearn.metrics import accuracy_score

# ìµœë‹¤ í´ë˜ìŠ¤ì˜ ë¹ˆë„ê°€ ì •í™•ë„ì™€ ì¼ì¹˜í•¨ì„ í™•ì¸
print("train data accuracy: ", accuracy_score(y_train, y_pred))

# ê²€ì¦ ì„¸íŠ¸ì—ì„œ ì •í™•ë„ í™•ì¸
y_pred = [major] * len(y_val)
print("val data accuracy: ", accuracy_score(y_val, y_pred))

train data accuracy:  0.501697034655234
val data accuracy:  0.49821364773133264

In [79]:
### Logistic Regression 
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

model = LogisticRegression(max_iter=1000)
model.fit(X_train,y_train)

# ê²€ì¦ ì„¸íŠ¸ì—ì„œ ì •í™•ë„ í™•ì¸
y_pred = model.predict(X_val)
print(f'ê²€ì¦ ì„¸íŠ¸ì—ì„œ ì •í™•ë„: {accuracy_score(y_val,y_pred)}')

ê²€ì¦ ì„¸íŠ¸ì—ì„œ ì •í™•ë„: 0.7073061807788495

### 4) ë°ì´í„°ì—ì„œ ë²”ì£¼í˜• ì„±ì§ˆì„ ì§€ë‹Œ íŠ¹ì„±ì„ ì°¾ì•„ ì›í•«ì¸ì½”ë”© í•˜ì„¸ìš”.
- category_encodersë¥¼ ì‚¬ìš©í•´ì„œ 'gender' íŠ¹ì„±ë§Œ ì›í•«ì¸ì½”ë”© í•˜ì„¸ìš”.
- LogisticRegression ëª¨ë¸ì„ ë‹¤ì‹œ í•™ìŠµí•©ë‹ˆë‹¤.
- **ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [80]:
pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)

In [81]:
from category_encoders import OneHotEncoder

encoder = OneHotEncoder(use_cat_names=True, cols = 'gender') # genderë§Œ one hot encodingí•˜ë¼ê³  ì§€ì • ê°€ëŠ¥

X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

logistic =  LogisticRegression(max_iter=1000)
logistic.fit(X_train_encoded,y_train)

y_pred = logistic.predict(X_val_encoded)
print(f'ê²€ì¦ ì„¸íŠ¸ì—ì„œ ì •í™•ë„: {accuracy_score(y_val,y_pred)}')

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

ê²€ì¦ ì„¸íŠ¸ì—ì„œ ì •í™•ë„: 0.7093604858878171

### 5) í•™ìŠµí•œ ëª¨ë¸ì„ ê²€ì¦ì„¸íŠ¸ì—ì„œ ìµœì í™” ì‹œí‚¨ í›„, í…ŒìŠ¤íŠ¸ì„¸íŠ¸ì—ì„œ ë”± í•œ ë²ˆ ì •í™•ë„ë¥¼ í™•ì¸í•´ ë³´ì„¸ìš”.
- **í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.(0.712 ì´ìƒ)**

In [82]:
## 1. parameter C ë¥¼ ë°”ê¿”ì„œ ì—¬ëŸ¬ ê°€ì§€ ëª¨ë¸ ìƒì„± 
logistic_001 = LogisticRegression(C=0.001, max_iter = 1000).fit(X_train_encoded,y_train) # C -> ê°’ì´ ì‘ì„ ìˆ˜ë¡ ë” ê°•í•œ ì •ê·œí™”ê°€ ì¼ì–´ë‚œë‹¤.
logistic_01 = LogisticRegression(C=0.01, max_iter = 1000).fit(X_train_encoded,y_train) # max_iter -> ìµœëŒ€ ë°˜ë³µ íšŸìˆ˜
logistic_0 = LogisticRegression(C=0.1, max_iter = 1000).fit(X_train_encoded,y_train)
logistic = LogisticRegression(max_iter = 1000).fit(X_train_encoded,y_train) # C default = 1.0
logistic_1 = LogisticRegression(  C= 10.0, max_iter = 1000).fit(X_train_encoded,y_train)
logistic_10 = LogisticRegression(C= 100.0, max_iter = 1000).fit(X_train_encoded,y_train)
logistic_100 = LogisticRegression(C= 1000.0, max_iter = 1000).fit(X_train_encoded,y_train)

# ê²€ì¦ ë°ì´í„°ë¡œ ì •í™•ë„ í™•ì¸
print(f'C = 0.001 Accuracy: {logistic_001.score(X_val_encoded,y_val)}')
print(f'C = 0.01 Accuracy: {logistic_01.score(X_val_encoded,y_val)}')
print(f'C = 0.1 Accuracy: {logistic_0.score(X_val_encoded,y_val)}')
print(f'C = 1.0 Accuracy: {logistic.score(X_val_encoded,y_val)}')
print(f'C = 10.0 Accuracy: {logistic_1.score(X_val_encoded,y_val)}')
print(f'C = 100.0 Accuracy: {logistic_10.score(X_val_encoded,y_val)}')
print(f'C = 1000.0 Accuracy: {logistic_100.score(X_val_encoded,y_val)}')

C = 0.001 Accuracy: 0.6941764916041443
C = 0.01 Accuracy: 0.6942658092175777
C = 0.1 Accuracy: 0.7092711682743837
C = 1.0 Accuracy: 0.7093604858878171
C = 10.0 Accuracy: 0.7093604858878171
C = 100.0 Accuracy: 0.7093604858878171
C = 1000.0 Accuracy: 0.6942658092175777

In [83]:
## 2. C íŒŒë¼ë¯¸í„° + ë°ì´í„° í‘œì¤€í™”
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_val_scaled = scaler.transform(X_val_encoded)

logistic_001 = LogisticRegression(C=0.001, max_iter = 1000).fit(X_train_scaled,y_train) # C -> ê°’ì´ ì‘ì„ ìˆ˜ë¡ ë” ê°•í•œ ì •ê·œí™”ê°€ ì¼ì–´ë‚œë‹¤.
logistic_01 = LogisticRegression(C=0.01, max_iter = 1000).fit(X_train_scaled,y_train) # max_iter -> ìµœëŒ€ ë°˜ë³µ íšŸìˆ˜
logistic_0 = LogisticRegression(C=0.1, max_iter = 1000).fit(X_train_scaled,y_train)
logistic = LogisticRegression(max_iter = 1000).fit(X_train_scaled,y_train) # C default = 1.0
logistic_1 = LogisticRegression(  C= 10.0, max_iter = 1000).fit(X_train_scaled,y_train)
logistic_10 = LogisticRegression(C= 100.0, max_iter = 1000).fit(X_train_scaled,y_train)
logistic_100 = LogisticRegression(C= 1000.0, max_iter = 1000).fit(X_train_scaled,y_train)

# ê²€ì¦ ë°ì´í„°ë¡œ ì •í™•ë„ í™•ì¸
print(f'C = 0.001 Accuracy: {logistic_001.score(X_val_scaled,y_val)}')
print(f'C = 0.01 Accuracy: {logistic_01.score(X_val_scaled,y_val)}')
print(f'C = 0.1 Accuracy: {logistic_0.score(X_val_scaled,y_val)}')
print(f'C = 1.0 Accuracy: {logistic.score(X_val_scaled,y_val)}')
print(f'C = 10.0 Accuracy: {logistic_1.score(X_val_scaled,y_val)}')
print(f'C = 100.0 Accuracy: {logistic_10.score(X_val_scaled,y_val)}')
print(f'C = 1000.0 Accuracy: {logistic_100.score(X_val_scaled,y_val)}')

C = 0.001 Accuracy: 0.6685423365487674
C = 0.01 Accuracy: 0.7057877813504824
C = 0.1 Accuracy: 0.721686316541622
C = 1.0 Accuracy: 0.723383351196856
C = 10.0 Accuracy: 0.7237406216505895
C = 100.0 Accuracy: 0.7237406216505895
C = 1000.0 Accuracy: 0.7237406216505895

In [69]:
from sklearn.metrics import accuracy_score

## ë°ì´í„°ë¥¼ í‘œì¤€í™”ì‹œí‚¤ê³  LogisticRegressionì˜ parameter C=10.0ì¼ë•Œì˜ ëª¨ë¸ì´ ìµœì í™”ë˜ì—ˆë‹¤ê³  ë³¼ ìˆ˜ ìˆë‹¤. 

## test data one hot encoding
X_test_encoded = encoder.transform(X_test)

## Standardization 
X_test_scaled = scaler.transform(X_test_encoded)

## accuracy score 
# y_pred = logistic_10.predict(X_test_scaled)
#accuracy_score(y_pred,y_test)
print(logistic_10.score(X_test_scaled,y_test))

0.7268505287224921

## ğŸ”¥ ë„ì „ê³¼ì œ:

### 6) EDAë¥¼ ì¶”ê°€ì ìœ¼ë¡œ ìˆ˜í–‰í•˜ê³  ê°€ëŠ¥í•œ ë°©ë²•ìœ¼ë¡œ ëª¨ë¸ì„ íŠœë‹í•´ì„œ ê²°ê³¼ë¥¼ ë§Œë“¤ì–´ ë³´ì„¸ìš”. ìµœì†Œí•œ ë‹¤ìŒ ë‚´ìš©ë“¤ì´ í¬í•¨ì´ ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.
- ìƒˆë¡œìš´ íŠ¹ì„±ì„ ìµœì†Œí•œ í•œ ê°œ ì´ìƒ ë§Œë“œì„¸ìš”.
- íŠ¹ì„±ë“¤ì„ í™•ì¸í•´ì„œ ì•„ì›ƒë¼ì´ì–´ë¼ê³  ìƒê°ë˜ëŠ” ë°ì´í„°ë¥¼ ê°€ì§„ ìƒ˜í”Œì„ ì œê±°í•˜ì„¸ìš”.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ì„ ì‚¬ìš©í•˜ì„¸ìš”. (ì—¬ëŸ¬ê°€ì§€ ì¢…ë¥˜ì˜ Scalarë¥¼ ì–´ë–¤ ìƒí™©ì— ì ìš©í•´ì•¼ í•˜ëŠ”ì§€ ì•Œì•„ë³´ê³  ì‚¬ìš©í•´ ë³´ì„¸ìš”.)
- ë§Œë“¤ì–´ì§„ ëª¨ë¸ ì„±ëŠ¥ì„ ë¦¬í¬íŒ…í•˜ê³  í•´ì„í•©ë‹ˆë‹¤.

In [ ]:
# BMI ì§€ìˆ˜ ìƒì„± : ì²´ì¤‘(kg)/ì‹ ì¥(m)^2
import numpy as np

df['BMI'] = df.weight / np.power(df.height/100,2)
df.head()