<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment

# ê°€ì„¤ ê²€ì •

## 1. One-Sample T-test ì—°ìŠµ

### ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
- [ì„œìš¸ì‹œ ê°€ë¡œìˆ˜ ë°ì´í„°ì…‹](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [1]:
import pandas as pd

trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt',sep = '\t',skiprows = 1)
trees.head()

     ê¸°ê°„  ìì¹˜êµ¬    ë…¸ì„ ìˆ˜       ìˆ˜ëŸ‰     ì€í–‰ë‚˜ë¬´  ...    ë¬´ê¶í™”    ì†Œë‚˜ë¬´   ëª©ë ¨    ì´íŒë‚˜ë¬´      ê¸°íƒ€
0  2019  ì„œìš¸ì‹œ  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1  2019  ì¢…ë¡œêµ¬     70    7,329    4,072  ...      -    239    -     711      29
2  2019   ì¤‘êµ¬     48    8,250    3,640  ...     46  2,162    -     470     817
3  2019  ìš©ì‚°êµ¬     39    7,835    4,444  ...      -     51  126     198     780
4  2019  ì„±ë™êµ¬     38    8,120    1,090  ...      -     53    -     709     646

[5 rows x 24 columns]

### "ì„œìš¸ì‹œì—ëŠ” êµ¬ë³„ë¡œ í‰ê·  ì•½ 400 ê·¸ë£¨ ì •ë„ì˜ `ì´íŒë‚˜ë¬´`ê°€ ìˆë‹¤"ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalue ê°’ì„ `pv1`ì— ì €ì¥í•˜ì„¸ìš”. (`.pvalue` ì‚¬ìš©)

In [8]:
from scipy import stats

#ì„œìš¸ì‹œ, ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ, ì‹œì„¤ê´€ë¦¬ê³µë‹¨ ë¶€ë¶„ ë°ì´í„° ì œì™¸
tree = trees['ì´íŒë‚˜ë¬´'][~trees['ìì¹˜êµ¬'].isin(['ì„œìš¸ì‹œ','ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ','ì‹œì„¤ê´€ë¦¬ê³µë‹¨'])]
tree = pd.to_numeric(tree.str.replace(',',''))
pv1 = stats.ttest_1samp(tree,400).pvalue
print(pv1)

0.002470712850935819

### ì´ë²ˆì—ëŠ” 10ê°œì˜ êµ¬ë¥¼ ìƒ˜í”Œë§í•˜ì—¬, ìœ„ì— ëŒ€í•œ ê°€ì„¤ê²€ì •ì„ ë‹¤ì‹œ í•œë²ˆ ì‹œí–‰í•´ë³´ì„¸ìš”.

- ë‹¨, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì°¸ì¡°í•˜ì—¬ sampleì„ ìœ„í•œ seed ëŠ” 123ë¡œ ì„¤ì •í•˜ì„¸ìš”.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalueê°’ì„ `pv2`ì— ì €ì¥í•˜ì„¸ìš”

In [3]:
import numpy as np
np.random.seed(123)

#ì¤‘ë³µ ë°°ì œë¼ëŠ” ë§ì´ ì—†ìœ¼ë‹ˆ, replace = Trueã„¹ ê·¸ëŒ€ë¡œ ë‘ê³  ìƒ˜í”Œë§
ten = np.random.choice(tree,10)

pv2 = stats.ttest_1samp(ten,400).pvalue
pv2

0.49772576203804575

## 2. Two-Sample T-test ì—°ìŠµ

### "ì„œìš¸ì‹œì˜ êµ¬ë³„ í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ì™€ ì™•ë²šë‚˜ë¬´ì˜ ìˆ˜ëŠ” ì°¨ì´ê°€ ì—†ë‹¤"ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalueë¥¼ `pv3`ì— ì €ì¥í•˜ì„¸ìš”

In [4]:
import numpy as np
copy_trees = trees.copy()

tree_nti = copy_trees['ëŠí‹°ë‚˜ë¬´'][~copy_trees['ìì¹˜êµ¬'].isin(['ì„œìš¸ì‹œ','ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ','ì‹œì„¤ê´€ë¦¬ê³µë‹¨'])]
tree_wb = copy_trees['ì™•ë²šë‚˜ë¬´'][~copy_trees['ìì¹˜êµ¬'].isin(['ì„œìš¸ì‹œ','ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ','ì‹œì„¤ê´€ë¦¬ê³µë‹¨'])]
tree_nti,tree_wb = pd.to_numeric(tree_nti.str.replace(',','')),pd.to_numeric(tree_wb.str.replace(',',''))
print(np.mean(tree_nti),np.mean(tree_wb))

pv3 = stats.ttest_ind(tree_nti,tree_wb).pvalue
pv3

1415.12 1292.0

0.6455096880085703


### Two-Sample One-tailed testë¥¼ ì‚¬ìš©í•˜ì—¬ **í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ê°€ ì™•ë²šë‚˜ë¬´ ìˆ˜ë³´ë‹¤ í¬ë‹¤**ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•œ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.
- í•´ë‹¹ ê°€ì„¤ê²€ì •ì˜ ê²°ê³¼ë¥¼ `ans`ì— ì €ì¥í•˜ì„¸ìš”.

ì´ ë•Œ `ans`ê°€ ê°€ì§ˆ ìˆ˜ ìˆëŠ” ê°’ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤ :
1. "ëŠí‹°ë‚˜ë¬´" ( ëŠí‹°ë‚˜ë¬´ì˜ ìˆ˜ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ ë§ì€ ê²½ìš° )
2. "ì™•ë²šë‚˜ë¬´" ( ì™•ë²šë‚˜ë¬´ì˜ ìˆ˜ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ ë§ì€ ê²½ìš° )
3. "ì—†ìŒ" (í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ì§€ ì•Šì€ ê²½ìš°)

ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”.
<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

In [5]:
#í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ - ì™•ë²šë‚˜ë¬´ ìˆ˜ > 0 -> ëŠí‹°ë‚˜ë¬´  
#í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ - ì™•ë²šë‚˜ë¬´ <= 0 
#statsì— ìˆëŠ” ttest_1stamp & ttend_ind ëª¨ë‘ two tailed testë¥¼ ê¸°ë°˜ìœ¼ë¡œ í•˜ê³  ìˆë‹¤. 
pv3/2 #ì™œ... pv3/2ë¥¼ í•´ì„œ ê³„ì‚°í•˜ì§€? one_tailed testì™€ ê´€ë ¨ì´ ìˆëŠ”ê±° ê°™ì€ë°.. ì´í•´ê°€ ì•ˆê°„ë‹¤.-> ì§ˆë¬¸!

if pv3/3 < 0.05:
  if np.mean(tree_nti) < np.mean(tree_wb):
    print('ì™•ë²šë‚˜ë¬´')
  else:
    print('ëŠí‹°ë‚˜ë¬´')
else:
  print('ì—†ìŒ')

ì—†ìŒ


## ğŸ”¥ **ë„ì „ê³¼ì œ**
> 3ë¬¸ì œ ëª¨ë‘ í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Compare mean for multiple-sample 
 
ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. <https://reneshbedre.github.io/blog/anova.html>

êµ¬ë³„, ì€í–‰ë‚˜ë¬´, ì–‘ë²„ì¦˜ë‚˜ë¬´, ëŠí‹°ë‚˜ë¬´ì— ëŒ€í•´ì„œ ANOVA Testë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.

### 2. Sampling

- ì„¸ì…˜ ì‹œê°„ì— ë°°ì› ë˜ 4ê°€ì§€ sample ë°©ì‹ì„ êµ¬í˜„í•´ë³´ì„¸ìš”.

- ì´ë¥¼ ìœ„í•œ ë°ì´í„°ëŠ” 1 ë¶€í„° 100 ì´ë©°, samplingí•´ì•¼ í•˜ëŠ” ìˆ˜ëŠ” 20ê°œ ì…ë‹ˆë‹¤.

- Stratified random samplingì„ ìœ„í•œ ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ì€ 1-10, 11-20, ... ê³¼ ê°™ì€ ë°©ì‹ì…ë‹ˆë‹¤.

- Cluster sampling ì„ ìœ„í•œ ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ì€ 5ë¡œ ë‚˜ëˆ´ì„ë•Œì˜ ë‚˜ë¨¸ì§€ ê°’ì…ë‹ˆë‹¤. (0,1,2,3,4)

In [6]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤

### 3. Data transform
ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬  `Inverse transform sampling` ì„ êµ¬í˜„í•©ë‹ˆë‹¤.

<https://youtu.be/9ixzzPQWuAY>

0 ~ 1 ì˜ ê°’ì„ ë™ì¼í•œ í™•ë¥ ë¡œ ê°–ëŠ” `uniform distribution`ìœ¼ë¡œ ë¶€í„° `binomial distribution`ìœ¼ë¡œ transform í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•œ ë’¤, ë‘ê°€ì§€ ê²°ê³¼ë¥¼ ì‹œê°í™”ë¥¼ í†µí•´ ë¹„êµí•˜ì„¸ìš”.

In [7]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤