<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# üìù Assignment

# Í∞ÄÏÑ§ Í≤ÄÏ†ï

## 1. One-Sample T-test Ïó∞Ïäµ

### Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- [ÏÑúÏö∏Ïãú Í∞ÄÎ°úÏàò Îç∞Ïù¥ÌÑ∞ÏÖã](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [1]:
import pandas as pd

trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt',sep = '\t',skiprows = 1)
trees.head()

     Í∏∞Í∞Ñ  ÏûêÏπòÍµ¨    ÎÖ∏ÏÑ†Ïàò       ÏàòÎüâ     ÏùÄÌñâÎÇòÎ¨¥  ...    Î¨¥Í∂ÅÌôî    ÏÜåÎÇòÎ¨¥   Î™©Î†®    Ïù¥ÌåùÎÇòÎ¨¥      Í∏∞ÌÉÄ
0  2019  ÏÑúÏö∏Ïãú  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1  2019  Ï¢ÖÎ°úÍµ¨     70    7,329    4,072  ...      -    239    -     711      29
2  2019   Ï§ëÍµ¨     48    8,250    3,640  ...     46  2,162    -     470     817
3  2019  Ïö©ÏÇ∞Íµ¨     39    7,835    4,444  ...      -     51  126     198     780
4  2019  ÏÑ±ÎèôÍµ¨     38    8,120    1,090  ...      -     53    -     709     646

[5 rows x 24 columns]

### "ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨Î≥ÑÎ°ú ÌèâÍ∑† ÏïΩ 400 Í∑∏Î£® Ï†ïÎèÑÏùò `Ïù¥ÌåùÎÇòÎ¨¥`Í∞Ä ÏûàÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

- Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalue Í∞íÏùÑ `pv1`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. (`.pvalue` ÏÇ¨Ïö©)

In [8]:
from scipy import stats

#ÏÑúÏö∏Ïãú, Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå, ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã® Î∂ÄÎ∂Ñ Îç∞Ïù¥ÌÑ∞ Ï†úÏô∏
tree = trees['Ïù¥ÌåùÎÇòÎ¨¥'][~trees['ÏûêÏπòÍµ¨'].isin(['ÏÑúÏö∏Ïãú','Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå','ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®'])]
tree = pd.to_numeric(tree.str.replace(',',''))
pv1 = stats.ttest_1samp(tree,400).pvalue
print(pv1)

0.002470712850935819

### Ïù¥Î≤àÏóêÎäî 10Í∞úÏùò Íµ¨Î•º ÏÉòÌîåÎßÅÌïòÏó¨, ÏúÑÏóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ Îã§Ïãú ÌïúÎ≤à ÏãúÌñâÌï¥Î≥¥ÏÑ∏Ïöî.

- Îã®, ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ï∞∏Ï°∞ÌïòÏó¨ sampleÏùÑ ÏúÑÌïú seed Îäî 123Î°ú ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalueÍ∞íÏùÑ `pv2`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [3]:
import numpy as np
np.random.seed(123)

#Ï§ëÎ≥µ Î∞∞Ï†úÎùºÎäî ÎßêÏù¥ ÏóÜÏúºÎãà, replace = True„Ñπ Í∑∏ÎåÄÎ°ú ÎëêÍ≥† ÏÉòÌîåÎßÅ
ten = np.random.choice(tree,10)

pv2 = stats.ttest_1samp(ten,400).pvalue
pv2

0.49772576203804575

## 2. Two-Sample T-test Ïó∞Ïäµ

### "ÏÑúÏö∏ÏãúÏùò Íµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÏôÄ ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÎäî Ï∞®Ïù¥Í∞Ä ÏóÜÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

- Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalueÎ•º `pv3`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [4]:
import numpy as np
copy_trees = trees.copy()

tree_nti = copy_trees['ÎäêÌã∞ÎÇòÎ¨¥'][~copy_trees['ÏûêÏπòÍµ¨'].isin(['ÏÑúÏö∏Ïãú','Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå','ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®'])]
tree_wb = copy_trees['ÏôïÎ≤öÎÇòÎ¨¥'][~copy_trees['ÏûêÏπòÍµ¨'].isin(['ÏÑúÏö∏Ïãú','Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå','ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®'])]
tree_nti,tree_wb = pd.to_numeric(tree_nti.str.replace(',','')),pd.to_numeric(tree_wb.str.replace(',',''))
print(np.mean(tree_nti),np.mean(tree_wb))

pv3 = stats.ttest_ind(tree_nti,tree_wb).pvalue
pv3

1415.12 1292.0

0.6455096880085703


### Two-Sample One-tailed testÎ•º ÏÇ¨Ïö©ÌïòÏó¨ **ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥ ÏàòÎ≥¥Îã§ ÌÅ¨Îã§**ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.
- Ìï¥Îãπ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùò Í≤∞Í≥ºÎ•º `ans`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

Ïù¥ Îïå `ans`Í∞Ä Í∞ÄÏßà Ïàò ÏûàÎäî Í∞íÏùÄ ÏïÑÎûòÏôÄ Í∞ôÏäµÎãàÎã§ :
1. "ÎäêÌã∞ÎÇòÎ¨¥" ( ÎäêÌã∞ÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÍ≤å ÎßéÏùÄ Í≤ΩÏö∞ )
2. "ÏôïÎ≤öÎÇòÎ¨¥" ( ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÍ≤å ÎßéÏùÄ Í≤ΩÏö∞ )
3. "ÏóÜÏùå" (ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÏßÄ ÏïäÏùÄ Í≤ΩÏö∞)

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî.
<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

In [5]:
#ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥Ïàò - ÏôïÎ≤öÎÇòÎ¨¥ Ïàò > 0 -> ÎäêÌã∞ÎÇòÎ¨¥  
#ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥Ïàò - ÏôïÎ≤öÎÇòÎ¨¥ <= 0 
#statsÏóê ÏûàÎäî ttest_1stamp & ttend_ind Î™®Îëê two tailed testÎ•º Í∏∞Î∞òÏúºÎ°ú ÌïòÍ≥† ÏûàÎã§. 
pv3/2 #Ïôú... pv3/2Î•º Ìï¥ÏÑú Í≥ÑÏÇ∞ÌïòÏßÄ? one_tailed testÏôÄ Í¥ÄÎ†®Ïù¥ ÏûàÎäîÍ±∞ Í∞ôÏùÄÎç∞.. Ïù¥Ìï¥Í∞Ä ÏïàÍ∞ÑÎã§.-> ÏßàÎ¨∏!

if pv3/3 < 0.05:
  if np.mean(tree_nti) < np.mean(tree_wb):
    print('ÏôïÎ≤öÎÇòÎ¨¥')
  else:
    print('ÎäêÌã∞ÎÇòÎ¨¥')
else:
  print('ÏóÜÏùå')

ÏóÜÏùå


## üî• **ÎèÑÏ†ÑÍ≥ºÏ†ú**
> 3Î¨∏Ï†ú Î™®Îëê ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1. Compare mean for multiple-sample 
 
Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. <https://reneshbedre.github.io/blog/anova.html>

Íµ¨Î≥Ñ, ÏùÄÌñâÎÇòÎ¨¥, ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥, ÎäêÌã∞ÎÇòÎ¨¥Ïóê ÎåÄÌï¥ÏÑú ANOVA TestÎ•º Ïã§ÌñâÌïòÏÑ∏Ïöî.

Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.

### 2. Sampling

- ÏÑ∏ÏÖò ÏãúÍ∞ÑÏóê Î∞∞Ïõ†Îçò 4Í∞ÄÏßÄ sample Î∞©ÏãùÏùÑ Íµ¨ÌòÑÌï¥Î≥¥ÏÑ∏Ïöî.

- Ïù¥Î•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞Îäî 1 Î∂ÄÌÑ∞ 100 Ïù¥Î©∞, samplingÌï¥Ïïº ÌïòÎäî ÏàòÎäî 20Í∞ú ÏûÖÎãàÎã§.

- Stratified random samplingÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 1-10, 11-20, ... Í≥º Í∞ôÏùÄ Î∞©ÏãùÏûÖÎãàÎã§.

- Cluster sampling ÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 5Î°ú ÎÇòÎà¥ÏùÑÎïåÏùò ÎÇòÎ®∏ÏßÄ Í∞íÏûÖÎãàÎã§. (0,1,2,3,4)

In [6]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§

### 3. Data transform
Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏó¨  `Inverse transform sampling` ÏùÑ Íµ¨ÌòÑÌï©ÎãàÎã§.

<https://youtu.be/9ixzzPQWuAY>

0 ~ 1 Ïùò Í∞íÏùÑ ÎèôÏùºÌïú ÌôïÎ•†Î°ú Í∞ñÎäî `uniform distribution`ÏúºÎ°ú Î∂ÄÌÑ∞ `binomial distribution`ÏúºÎ°ú transform ÌïòÎäî ÏΩîÎìúÎ•º ÏûëÏÑ±Ìïú Îí§, ÎëêÍ∞ÄÏßÄ Í≤∞Í≥ºÎ•º ÏãúÍ∞ÅÌôîÎ•º ÌÜµÌï¥ ÎπÑÍµêÌïòÏÑ∏Ïöî.

In [7]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§