<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# ğŸ“ Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` ì„ ì´ìš©í•˜ì—¬ ë‹¤ìŒ í¬íŠ¸í´ë¦¬ì˜¤ì˜ ì‚¬ëŒë³„ ì´í•©ì„ ê³„ì‚°í•˜ì„¸ìš”.
- ê²°ê³¼ëŠ” `res`ì— listí˜•íƒœë¡œ ì €ì¥í•©ë‹ˆë‹¤.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [1]:
import pandas as pd

#dataframe ìƒì„±
df = pd.DataFrame({'People':['X','X','X','X','Y','Y','Y','Y','Z','Z','Z','Z']
                   ,'Name':['A','B','C','D','A','B','C','D','A','B','C','D']
                   ,'Price':[100,500,250,50,100,500,250,50,100,500,250,50]
                   ,'Amount':[35,10,25,40,'-',50,50,'-','-','-',100,'-']})

#Amount ì»¬ëŸ¼ ë‚´ì— - -> 0ìœ¼ë¡œ ë³€í™˜
df['Amount'] = df['Amount'].replace('-',0)

#index -> People 
index = df['People']
df = df.iloc[:,1:]
df.index = index

df

       Name  Price  Amount
People
X         A    100      35
X         B    500      10
X         C    250      25
X         D     50      40
Y         A    100       0
Y         B    500      50
Y         C    250      50
Y         D     50       0
Z         A    100       0
Z         B    500       0
Z         C    250     100
Z         D     50       0

In [2]:
import numpy as np
res = []

#X,Y,Zì˜ í¬íŠ¸í´ë¦¬ì˜¤ ì´ í•© (Dot Product & Matrix Multiplication)
for people in df.index.unique():
  #ê° X,Y,Zì˜ í¬íŠ¸í´ë¦¬ì˜¤ ì´ í•©ì„ ìœ„í•œ ìƒˆë¡œìš´ ë³€ìˆ˜ df_p ì„ ì–¸
  df_p = np.array(df.loc[people,'Price':'Amount']).transpose()
  
  #Dot Product
  res.append(np.dot(df_p[0],df_p[1]))

  #Matrix Multiplication
  # res.append(np.sum(df_p[0]*df_p[1]))

res

[16750, 37500, 25000]

## 2. Norms

ì£¼ì–´ì§„ ê°’ $x_0, x_1, ... x_n$ ë¥¼ elementë¡œ ê°–ëŠ” ë²¡í„° $v$ì— ëŒ€í•˜ì—¬ 

$L_1$ Norm ì˜ ì •ì˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm ì˜ ì •ì˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

ì´ë¥¼ ì°¸ì¡°í•˜ì—¬ ì£¼ì–´ì§„ ë²¡í„°ì— ëŒ€í•´ì„œ $L_2$ Norm ì˜ ê°’ê³¼ $L_1$ Norm ì˜ ê°’ì˜ ì°¨ì´(**ì ˆëŒ€ê°’**)ë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ë§Œë“œì„¸ìš”.

In [3]:
def NormDif(v): # v = np.array()
    l1_norm = np.sum(np.abs(v))
    l2_norm = np.sqrt(np.sum(np.power(v,2)))
    return np.abs(l2_norm - l1_norm)

## 3. Errors



- 2ê°œì˜ ë²¡í„°ì™€, errorì˜ íƒ€ì…ì„ ì…ë ¥ë°›ì•„ ê·¸ ê²°ê³¼ê°’ì„ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”.

- ì—¬ê¸°ì„œ errorì˜ íƒ€ì…ì€ `MSE`, `MAE` 2ê°€ì§€ ì…ë‹ˆë‹¤.

In [4]:
def error(x, y, type) :
    if type == 'MAE' and len(x)==len(y):
      return (np.sum(np.abs(x-y)))/len(x)
    
    elif type == 'MSE' and len(x)==len(y): 
      return (np.sum(np.power(x-y,2)))/len(x)

# 4. Inverse

- ì£¼ì–´ì§„ matrixì— ëŒ€í•´ì„œ inverse matrixë¥¼ ê³„ì‚°í•˜ì—¬ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”. 
- ì´ ë•Œ inverse ê³„ì‚°ì´ ë¶ˆê°€ëŠ¥ í•œ ê²½ìš° `-1` ì„ ë°˜í™˜í•©ë‹ˆë‹¤.

In [5]:
def myInverse(m) : # m = np.array()
    determinant = np.linalg.det(m)
    if not(determinant):
      return -1
    else:
      return np.linalg.inv(m)

# ğŸ”¥ ë„ì „ê³¼ì œ

ë‹¤ìŒ ë§í¬ì˜ ë‚´ìš©ì„ ì°¸ì¡°í•˜ì—¬ **Cramer's rule**ì„ ì‚¬ìš©í•´ $x_1$, $x_2$, $x_3$ì˜ ê°’ì„ êµ¬í•˜ì„¸ìš”.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [7]:
solution = np.array([6,30,8])
equation = np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
det = np.linalg.det(equation)
result = []

for index in range(len(equation)+1):
  equation = np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
  if index == 3:
    break
  equation_t = equation.transpose()
  equation_t[index] = solution
  result.append(np.linalg.det(equation_t.transpose()))

result = np.array(result)
print(np.dot(equation,result)/44)

x1,x2,x3 = result/44
x1,x2,x3

[ 6. 30.  8.]

(-0.9090909090909091, 1.6363636363636365, 3.4545454545454546)