<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# 📝 Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` 을 이용하여 다음 포트폴리오의 사람별 총합을 계산하세요.
- 결과는 `res`에 list형태로 저장합니다.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [1]:
import pandas as pd

#dataframe 생성
df = pd.DataFrame({'People':['X','X','X','X','Y','Y','Y','Y','Z','Z','Z','Z']
                   ,'Name':['A','B','C','D','A','B','C','D','A','B','C','D']
                   ,'Price':[100,500,250,50,100,500,250,50,100,500,250,50]
                   ,'Amount':[35,10,25,40,'-',50,50,'-','-','-',100,'-']})

#Amount 컬럼 내에 - -> 0으로 변환
df['Amount'] = df['Amount'].replace('-',0)

#index -> People 
index = df['People']
df = df.iloc[:,1:]
df.index = index

df

       Name  Price  Amount
People
X         A    100      35
X         B    500      10
X         C    250      25
X         D     50      40
Y         A    100       0
Y         B    500      50
Y         C    250      50
Y         D     50       0
Z         A    100       0
Z         B    500       0
Z         C    250     100
Z         D     50       0

In [2]:
import numpy as np
res = []

#X,Y,Z의 포트폴리오 총 합 (Dot Product & Matrix Multiplication)
for people in df.index.unique():
  #각 X,Y,Z의 포트폴리오 총 합을 위한 새로운 변수 df_p 선언
  df_p = np.array(df.loc[people,'Price':'Amount']).transpose()
  
  #Dot Product
  res.append(np.dot(df_p[0],df_p[1]))

  #Matrix Multiplication
  # res.append(np.sum(df_p[0]*df_p[1]))

res

[16750, 37500, 25000]

## 2. Norms

주어진 값 $x_0, x_1, ... x_n$ 를 element로 갖는 벡터 $v$에 대하여 

$L_1$ Norm 의 정의는 다음과 같습니다. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm 의 정의는 다음과 같습니다.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

이를 참조하여 주어진 벡터에 대해서 $L_2$ Norm 의 값과 $L_1$ Norm 의 값의 차이(**절대값**)를 계산하는 함수를 만드세요.

In [3]:
def NormDif(v): # v = np.array()
    l1_norm = np.sum(np.abs(v))
    l2_norm = np.sqrt(np.sum(np.power(v,2)))
    return np.abs(l2_norm - l1_norm)

## 3. Errors



- 2개의 벡터와, error의 타입을 입력받아 그 결과값을 계산하는 함수를 작성하세요.

- 여기서 error의 타입은 `MSE`, `MAE` 2가지 입니다.

In [4]:
def error(x, y, type) :
    if type == 'MAE' and len(x)==len(y):
      return (np.sum(np.abs(x-y)))/len(x)
    
    elif type == 'MSE' and len(x)==len(y): 
      return (np.sum(np.power(x-y,2)))/len(x)

# 4. Inverse

- 주어진 matrix에 대해서 inverse matrix를 계산하여 반환하는 함수를 작성하세요. 
- 이 때 inverse 계산이 불가능 한 경우 `-1` 을 반환합니다.

In [5]:
def myInverse(m) : # m = np.array()
    determinant = np.linalg.det(m)
    if not(determinant):
      return -1
    else:
      return np.linalg.inv(m)

# 🔥 도전과제

다음 링크의 내용을 참조하여 **Cramer's rule**을 사용해 $x_1$, $x_2$, $x_3$의 값을 구하세요.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [7]:
solution = np.array([6,30,8])
equation = np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
det = np.linalg.det(equation)
result = []

for index in range(len(equation)+1):
  equation = np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
  if index == 3:
    break
  equation_t = equation.transpose()
  equation_t[index] = solution
  result.append(np.linalg.det(equation_t.transpose()))

result = np.array(result)
print(np.dot(equation,result)/44)

x1,x2,x3 = result/44
x1,x2,x3

[ 6. 30.  8.]

(-0.9090909090909091, 1.6363636363636365, 3.4545454545454546)